<div class="body">
    <div class="body--background">
        <div class="background--container">
            <div class="container--donate">
                <div class="donate--call-to-action">
                    <a href="https://www.omahagives24.org/index.php?section=organizations&action=newDonation&fwID=944" target="_blank">
                        Make our state a cultural destination. Donate to Hear Nebraska today.
                    </a>
                </div>
                <div class="donate--logo">
                    <div class="logo--image">
                        <a href="https://www.hearnebraska.org">
                            <%= image_tag("hn-logo.png", srcset: "assets/hn-logo.png 1x, assets/hn-logo_2x.png 2x, assets/hn-logo_3x.png 3x", alt: "Hear Nebraska") %>
                        </a>
                    </div>
                </div>
            </div>
            <header class="container--header">
                <div id="sent_message">
                    <h3 id="sent_first">Tweet sent and submitted for approval on this page.</h3>
                    <h3 id="sent_second">
                        <em>Please continue to help our cause:</em>
                    </h3>
                    <div id="sent_actions">
                        <a href="/">
                            <div id="another_note">
                                WRITE ANOTHER TWEET
                            </div>
                        </a>
                        <a href="https://www.omahagives24.org/index.php?section=organizations&action=newDonation&fwID=944">
                            <div id="schedule_donation">
                                DONATE TO HN
                            </div>
                        </a>
                    </div>
                </div>
            </header>
            <main class="container--tweets">
                <% if @tweets.count != 0 %>
                    <% @tweets.each do |tweet| %>
                        <div class="tweets--tweet">
                            <div class="tweet--profile-image">
                                <a href="http://twitter.com/<%= tweet.username %>" target="_blank">
                                    <img src="<%= tweet.photo %>" width="20px" alt="profile_image"/>
                                </a>
                            </div>
                            <div class="tweet--content">
                                <h4 class="content--handle"><%= tweet.full_name %>&nbsp;&nbsp; 
                                    <a href="http://twitter.com/<%= tweet.username %>">
                                        <div>
                                            <em>@<%= tweet.username %></em>
                                        </div>
                                    </a>
                                </h4>
                                <p class="content--text">
                                    <%= simple_format(tweet.text.encode) %>
                                </p>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="tweets--tweet">
                        <div class="tweet--profile-image">
                            <a href="http://twitter.com/hearnebraska" target="_blank">
                                <img src="https://pbs.twimg.com/profile_images/481163467903078400/OaHZmk1J.png" width="20px" alt="profile_image"/>
                            </a>
                        </div>
                        <div class="tweet--content">
                            <h4 class="content--handle">Hear Nebraska 
                                <a href="http://twitter.com/hearnebraska">
                                    <div>
                                        <em>@hearnebraska</em>
                                    </div>
                                </a>
                            </h4>
                            <p class="content--text">
                                Be the first to ask a band to tour Nebraska. Sign in, and tell them to play above.
                            </p>
                        </div>
                    </div>
                <% end %>
            </main>
            <div class="container--donate">
                <div class="donate--logo">
                    <div class="logo--image">
                        <a href="https://www.hearnebraska.org">
                            <%= image_tag("hn-logo.png", srcset: "assets/hn-logo.png 1x, assets/hn-logo_2x.png 2x, assets/hn-logo_3x.png 3x", alt: "Hear Nebraska") %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>