<div class="body">
    <div class="body--background">
        <div class="background--container">
            <div class="container--donate">
                <a href="https://www.omahagives24.org/index.php?section=organizations&action=newDonation&fwID=944" target="_blank">
                    <div class="donate--call-to-action">
                        <% if current_user %>
                            <strong>Donate to Hear Nebraska today. We're working to make our state a cultural destination.</strong>
                        <% else %>
                            <strong>Make Nebraska a destination for bands like The Avett Brothers.</strong>
                        <% end %>
                    </div>
                </a>
            </div>
            <header class="container--header">
                <div class="header--sent">
                    <h1 class="sent--text"><em>Tweet sent and submitted<br class="line-break"> for approval below.</em></h1>
                    <a href="/">
                        <div class="sent--button">
                            TWEET AGAIN
                        </div>
                    </a>
                    <a href="https://www.omahagives24.org/index.php?section=organizations&action=newDonation&fwID=944">
                        <div class="sent--button">
                            DONATE TO HN
                        </div>
                    </a>
                </div>
            </header>
            <div class="container--login-status">
                <div class="login-status--credit">
                    <em>photo of The Avett Brothers by Matthew Masin</em>
                </div> | 
                <% if current_user %>
                <em>You are logged in as <%= current_user.name %>. 
                    <a href="/signout">
                        Click here to logout.
                    </a>
                </em>
                <% end %>
            </div>
            <main class="container--tweets">
                <% if @tweets.count != 0 %>
                    <% @tweets.each do |tweet| %>
                        <div class="tweets--tweet">
                            <div class="tweet--profile-image">
                                <a href="http://twitter.com/<%= tweet.username %>" target="_blank">
                                    <img src="<%= tweet.photo %>" width="20px" alt="profile_image"/>
                                </a>
                            </div>
                            <div class="tweet--content">
                                <h4 class="content--handle"><%= tweet.full_name %>&nbsp;&nbsp; 
                                    <a href="http://twitter.com/<%= tweet.username %>">
                                        <div>
                                            <em>@<%= tweet.username %></em>
                                        </div>
                                    </a>
                                </h4>
                                <p class="content--text">
                                    <%= simple_format(tweet.text.encode) %>
                                </p>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="tweets--tweet">
                        <div class="tweet--profile-image">
                            <a href="http://twitter.com/hearnebraska" target="_blank">
                                <img src="https://pbs.twimg.com/profile_images/481163467903078400/OaHZmk1J.png" width="20px" alt="profile_image"/>
                            </a>
                        </div>
                        <div class="tweet--content">
                            <h4 class="content--handle">Hear Nebraska 
                                <a href="http://twitter.com/hearnebraska">
                                    <div>
                                        <em>@hearnebraska</em>
                                    </div>
                                </a>
                            </h4>
                            <p class="content--text">
                                Be the first to ask a band to tour Nebraska. Sign in, and tell them to play above.
                            </p>
                        </div>
                    </div>
                <% end %>
            </main>
            <div class="container--donate">
                <div class="donate--logo">
                    <div class="logo--image">
                        <a href="https://www.hearnebraska.org">
                            <%= image_tag("hn-logo.png", srcset: "assets/hn-logo.png 1x, assets/hn-logo_2x.png 2x, assets/hn-logo_3x.png 3x", alt: "Hear Nebraska") %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>