<div id="backdrop"> 
  <div id="diag_backdrop">
    <div id="container">
      <nav>
        <div id="call_to_action"><a href="http://omahagives24.org/#npo/hear-nebraska" target="_blank">Tell the world to listen. Donate to Hear Nebraska.</a></div>
        <div id="dates_container">
          <div id="dates">
            <div id="omaha">
              <a href="http://omahagives24.org/#npo/hear-nebraska" target="_blank">
                <h2 id="omaha_date">MAY 21</h2>
                <h3 id="omaha_name">Omaha Gives</h3>
              </a>
            </div>
            <div id="logo">
              <a href="/">
                <img src="https://s3.amazonaws.com/WeHearNebraska/hn-logo-white.png" alt="logo"/>
              </a>
            </div>
            <div id="lnk">
              <a href="http://givetolincoln.razoo.com/story/Hearnebraska" target="_blank">
                <h2 id="lnk_date">MAY 29</h2>
                <h3 id="lnk_name">Give to Lincoln</h3>
              </a>
            </div>
          </div>
        </div>
        <div id="tweets_input_container">
          <div id="tweets_input">
            <h1 id="question"><em>What's cool about Nebraska?</em></h1>
            <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
            <% if current_user %>
            <div id="i_hear">
              <label> I hear Nebraska
                <%= f.text_field :message, :placeholder => "...", :title => "I hear Nebraska ", :tag => " Spread the word: wehearnebraska.org. #WeHearNebraska", :value => "#{@message}", :id => "myinput" %>
              </label>
              <span id="chars">67</span>
            </div>
            <% else %>
            <div id="i_hear">
              <label> <a href="/auth/twitter">Sign into Twitter, and tell us what you hear.</a>
              </label>
            </div>
            <% end %>
              <% if current_user %>
                <%= f.submit "TWEET", :id => "submit" %>
              <% else %>
                <%= link_to "SIGN IN", "/auth/twitter", id: "sign_in" %>
              <% end %>
            <% end %>
            <% if current_user %>
            <div id="login_status">
              <em>You are logged in as <%= current_user.name %>. <a href="/signout">
              Click here to logout.
            </a></em>
            </div>
            <% end %>
          </div>
        </div>
      </nav>
      <div id="tweets">
        <% if @tweets != nil %>
        <% @tweets.each do |tweet| %>
        <% unless @banned_tweets.include?(tweet.id) %>
        <div id="tweet">
        <% if current_user %>
          <% if current_user.name == "Hear Nebraska" %>
          <div id="ban">
            <%= link_to "X", "tweets/ban?tweet_id=#{tweet.id}" %>
          </div>
          <% end %>
        <% end %>
          <div id="tweet_profile_image">
            <a href="http://twitter.com/<%= tweet.user.screen_name %>" target="_blank"><img src="<%= tweet.user.profile_image_uri(size = :bigger) %>" width="20px" alt="profile_image"/></a>
          </div>
          <div id="tweet_text">
          <h4><%= tweet.user.name %>&nbsp;&nbsp; <a href="http://twitter.com/<%= tweet.user.screen_name %>"><div id="handle"><em>@<%= tweet.user.screen_name %></em></div></a></h4>
          <p class="twit"><%= simple_format(tweet.text.encode) %></p>
          <% if current_user %>
          <div id="actions">
            <div class="retweet_section <%= tweet.id %>">
            <% if @retweets.include?(tweet.id) %>
              <div id="retweet_icon">
                <img src="https://si0.twimg.com/images/dev/cms/intents/icons/retweet_on.png"/>
              </div>
              <h5 id="retweeted">&nbsp;&nbsp;Retweeted&nbsp;&nbsp;</h5>
            <% else %>
              <%= link_to "tweets/retweet-this?tweet_id=#{tweet.id}", :remote => true do %>
              <div id="retweet_icon">
                <img src="https://si0.twimg.com/images/dev/cms/intents/icons/retweet.png"/>
              </div>
              <h5>&nbsp;&nbsp;Retweet&nbsp;&nbsp;</h5>
            <% end %>
            <% end %>
          </div>
          <% if @favorites.include?(tweet.id) %>
          <div class="favorite_section <%= tweet.id %>">
              <div id="favorite_icon"><img src="https://si0.twimg.com/images/dev/cms/intents/icons/favorite_on.png"></div><h5 id="favorited">&nbsp;&nbsp;Favorited&nbsp;&nbsp;</h5>
            </div>
            <% else %>
            <div class="favorite_section <%= tweet.id %>">
              <%= link_to "tweets/favorite-this?tweet_id=#{tweet.id}", :remote => true do %>
              <div id="favorite_icon"><img src="https://si0.twimg.com/images/dev/cms/intents/icons/favorite.png"></div><h5>&nbsp;&nbsp;Favorite&nbsp;&nbsp;</h5>
              <% end %>
              </div>
            <% end %>
          
          </div>
          <% end %>
        </div>
      </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
      <a href="https://twitter.com/search?f=realtime&q=%23WeHearNebraska&src=hash" target="_blank"><div id="see_more">
        SEE ALL TWEETS
      </div></a>
      <div id="dates_container">
        <div id="dates">
          <div id="omaha">
            <a href="http://omahagives24.org/#npo/hear-nebraska" target="_blank">
              <h2 id="omaha_date">MAY 21</h2>
              <h3 id="omaha_name">Omaha Gives</h3>
            </a>
          </div>
          <div id="logo">
            <a href="/">
              <img src="https://s3.amazonaws.com/WeHearNebraska/hn-logo-white.png" alt="logo"/>
            </a>
          </div>
          <div id="lnk">
            <a href="http://givetolincoln.razoo.com/story/Hearnebraska" target="_blank">
              <h2 id="lnk_date">MAY 29</h2>
              <h3 id="lnk_name">Give to Lincoln</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>