<!DOCTYPE html>
<html>
<head>
    <title>Tour Nebraska</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Tell your favorite band to play a show in Nebraska. Because silence won't convince them." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <!-- SOCIAL METADATA -->
    <meta property="og:locale" content="en_US"/>
    <meta property='fb:admins' content='603743474,793935138,1314450017'/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Tour Nebraska | By Hear Nebraska"/>
    <meta property="og:description" content="Tell your favorite band to play a show in Nebraska. Because silence won't convince them."/>
    <meta property="og:url" content="http://www.tournebraska.org"/>
    <meta property="og:image" content="http://tournebraska.org/assets/tour-nebraska.jpg"/>
    <meta property='og:site_name' content="Tour Nebraska | By Hear Nebraska"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@hearnebraska">
    <meta name="twitter:title" content="Tour Nebraska | By Hear Nebraska">
    <meta name="twitter:description" content="Tell your favorite band to play a show in Nebraska. Because silence won't convince them.">
    <meta name="twitter:image" content="http://tournebraska.org/assets/tour-nebraska.jpg">
    
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/assets/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/assets/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
    <script src="//use.typekit.net/hco1usb.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  
<%= yield %>

</body>
</html>
